@page "/Help"
@using Blazor.Extensions.App.Server.Locales
@using Microsoft.Extensions.Localization
@using System.Globalization

@inject IStringLocalizer<Resource> Localizer

<PageTitle>Help</PageTitle>
<h1>Help</h1>