@using Blazor.Extensions.App.Server.Locales

@inherits MainLayoutComponent

<div class="page">
    <main>
        <header>
            <SfAppBar ColorMode="AppBarColor.Primary">
                <SfMenu TValue="MenuItem">
                    <MenuItems>
                        <MenuItem Text="≡" Url="/"></MenuItem>
                        <MenuItem Text="Components" Url="Components"></MenuItem>
                        <MenuItem Text="Diagnostics" Url="Diagnostics"></MenuItem>
                        <MenuItem Text="@Resource.Help" Url="Help"></MenuItem>
                    </MenuItems>
                </SfMenu>
                <AppBarSpacer/>
                <LanguageSelectorComponent />
            </SfAppBar>
        </header>

        <article class="content px-4">
            @Body
        </article>

        <footer style="bottom:0px;width:100%;position:fixed">
            <SfAppBar ColorMode="AppBarColor.Primary">
                <SoftwareProduct/>
                <AppBarSpacer/>
                <SoftwareVersion />
                <AppBarSpacer />
                <Copyright />
                <AppBarSpacer />
            </SfAppBar>
        </footer>
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
